body {
  padding: 50px;
  font-family: "brandon-grotesque", sans-serif;
  font-style: normal;
  font-weight: 500;
}

a {
  color: #00B7FF;
}

.spotlight-container-img {
  background-image: url('http://www.incimages.com/uploaded_files/image/1940x900/20160805_LGuild_209_H_pano_106090.jpg');
  height: 700px;
  max-width: 1000px;
}

.content {
  text-align: center;
}

.content.h3, .h4 {
  display: flex;
  flex-direction: row;
}

.content-tools {
  display: flex;
  flex-direction: row;
}

.feature {
  margin: 15px;
}

.feature, img, a, p {
  height: 200px;
  width: 260px;
}

.footer-nav {
  margin-top: 150px;
  max-height: 30px;
}
