extends layout

block content

	div.container

		div.spotlight-container
			div.spotlight-container-img
			div.spotlight-container-text
				div.message Live Dashboard Software for your business metrics
				.btn-group(role='group', aria-label='...')
				button.btn.btn-default(type='button') Start Your Free Trial
				button.btn.btn-default(type='button') Book A Demo

		div.content
			div.content-tools
				h3 Easy APIs to build dashboards for your next project
				h4 Quickly see the information important to your team

			div.content-tools-feature-1
				img(url='http://www.incimages.com/uploaded_files/image/1940x900/20160805_LGuild_209_H_pano_106090.jpg' height= '200px', width='260px')
				a(href='/product') This is Feature 1
				p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tpariatur?"

			div.content-tools-feature-2
				img(url='http://www.incimages.com/uploaded_files/image/1940x900/20160805_LGuild_209_H_pano_106090.jpg' height= '200px', width='260px')
				a(href='/product') This is Feature 2
				p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numqa pariatur?"

			div.content-tools-feature-3
				img(url='http://www.incimages.com/uploaded_files/image/1940x900/20160805_LGuild_209_H_pano_106090.jpg' height= '200px', width='260px')
				a(href='/product') This is Feature 3
				p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numqu

				script(src="/public/javascripts/index.js")
