buttons
  h2.heading Buttons
  .button
    a.button--success(href='#') Success button
    br
    .code-example a.button--success
    br
    a.button--normal(href='#') Normal Button
    br
    .code-example a.button--normal
