colors
  h2.heading Colors
  .color
    .color__circle.gunmetal
      p.circle-text Gunmetal
      p.circle-text #3d4351
    .color__circle.darkgreen
      p.circle-text Dark Green
      p.circle-text #72a230
    .color__circle.grey
      p.circle-text Dark Grey
      p.circle-text #272b34
    .color__circle.green
      p.circle-text Green
      p.circle-text #8dc63f
    .color__circle.lightgrey
      p.circle-text Grey
      p.circle-text #6b6f78
