titles
  h2.heading Titles
  .title
    h1.title--xlarge Xtra Large Heading
    .code-example h1.title--xlarge
    h2.title--large Large Heading
    .code-example h2.title--large
    h3.title--medium Medium Heading
    .code-example h3.title--medium
    h4.title--small Small Heading
    .code-example h4.title--small
    h5.title--xsmall XSmall Heading
    .code-example h5.title--xsmall
